body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 1%;
}
.half-width img{
    width: 450px;
}